/* @import url('https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Lato|Literata|Merriweather&display=swap');

body {
  margin: 0;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Literata', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010038;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
